
	<title>支付页-失败</title>
	
    <link rel="stylesheet" type="text/css" href="/static/home/css/pages-payfail.css" />

	<div class="cart py-container">
		<!--主内容-->
		<div class="payfail">
			<div class="fail">
				<h3><img src="/static/home/img/_/fail.png" width="48" height="48">　支付失败，请稍后再试</h3>
				<div class="fail-text">
				<p>失败原因：{$msg}</p>
				<p>您可以先去　<a href="{:url('home/index/index')}" target="_blank">品优购首页</a>　逛逛</p>
				<p class="button"><a href="javascript:;" class="sui-btn btn-xlarge btn-danger">重新支付</a></p>
			    </div>
			</div>
			
		</div>
	</div>
	